<H1>COMP216 Lab exercise 1</h1>

<h5> Please insert your name, student number, course and date </h5>


#Name: Oscar Umana

#Student number: 301247086

#Course: Networking for Software Developers

#Date: 01-19-2023



<h3>Instructions</h3>

1. Complete the exercises as far as you possibly can 

2. Rename the workbook to your first name  

3. Make sure that the notebook is shareable

4. Upload a link to the Assessment folder in brightspace  

5. You code must work even if the original variable changes

In [49]:
#imports and variables
from random import randint

pm = 'justin pierre james trudeau'
instructor = 'John Doe'
harry = "You've gotta ask yourself a question: how are you today?"
numbers = [randint(5, 10) for _ in range(20)]

<h3> Working with sets </h3>

In [50]:
# - 2 mark
# create a set from the variable 'instructor' and print it
oscar_set = set(instructor)
print(oscar_set)

{'J', 'n', 'D', 'e', 'h', ' ', 'o'}

In [51]:
# - 2 mark
# use the add() method to add 'z' to the set and print it
oscar_set.add('z')
print(oscar_set)

{'J', 'n', 'D', 'e', 'h', 'z', ' ', 'o'}

In [52]:
# - 2 mark
#use the remove() method to take ' ' from the set and print it
oscar_set.remove(' ')
print(oscar_set)

{'J', 'n', 'D', 'e', 'h', 'z', 'o'}

In [53]:
# - 2 mark
#use the update() function to add 'x', 'y' and 'z' to the set  and print the result
oscar_set.update('x', 'y', 'z')
print(oscar_set)

{'J', 'y', 'x', 'n', 'D', 'e', 'h', 'z', 'o'}

In [54]:
# - 2 mark
#use the len() function to get the number of elements in the set and print the result
print('Set Length: ', len(oscar_set))

Set Length:  9

<h3> Working with tuples </h3>

In [55]:
# - 2 mark
#create a tuple from the variable pm and print it
oscar_tuple = tuple(pm)
print(oscar_tuple)

('j', 'u', 's', 't', 'i', 'n', ' ', 'p', 'i', 'e', 'r', 'r', 'e', ' ', 'j', 'a', 'm', 'e', 's', ' ', 't', 'r', 'u', 'd', 'e', 'a', 'u')

In [56]:
# - 6 marks
# write the statement to produced the following lines of output

## There are 4 e's in the tuple                   #use the count() method
print(f"There are {oscar_tuple.count('e')} e's in the tuple")

## You can find a at index 15 of the tuple        #use the index() method
print(f"You can find a at index {oscar_tuple.index('a')} of the tuple")

## There are 27 elements in the tuple             #use the len() function
print(f"There are {len(oscar_tuple)} elements in the tuple")

There are 4 e's in the tuple
You can find a at index 15 of the tuple
There are 27 elements in the tuple

In [57]:
# - 2 mark
# use array-like indexing to print the third and fifth element of your tuple
print(f"Third element: {oscar_tuple[2]}\nFith element: {oscar_tuple[4]}")

Third element: s
Fith element: i

In [58]:
import re
harry = re.sub(r"[^A-Za-z0-9]", ' ', harry)
harry

'You ve gotta ask yourself a question  how are you today '

<h3> Working with list </h3>

In [59]:
# - 2 mark
# create a list from the variable 'harry' using the split() method 
# of the string class and print it

word_list = harry.split()
print(word_list)

['You', 've', 'gotta', 'ask', 'yourself', 'a', 'question', 'how', 'are', 'you', 'today']

In [60]:
# - 4 marks
# use the append() method once to add 'Eastwood' to the end of the  list
word_list.append('Eastwood')

# use the insert() method to add 'Clint' at the start of the  list
word_list.insert(0, 'Clint')

# use the remove() method to remove 'question' from the list
word_list.remove('question')

# print the final list
print(word_list)

['Clint', 'You', 've', 'gotta', 'ask', 'yourself', 'a', 'how', 'are', 'you', 'today', 'Eastwood']

In [61]:
# - 4 marks
# use the sort() method to order the  list
word_list.sort()
# print the list
print(word_list)
# use the reverse() method to reverse the list
word_list.reverse()
# print the final list
print(word_list)

['Clint', 'Eastwood', 'You', 'a', 'are', 'ask', 'gotta', 'how', 'today', 've', 'you', 'yourself']
['yourself', 'you', 've', 'today', 'how', 'gotta', 'ask', 'are', 'a', 'You', 'Eastwood', 'Clint']

<h3> Working with dictionary </h3>

In [62]:
#use the following dictionary for your exercises
d = { 
    3462: 'Artificial Intelligence', 
    3468: 'Software Engineering Technician', 
    3469: 'Software Engineering Technology', 
    3472: 'Artificial Intelligence (FT)', 
    3478: 'Software Engineering Technician (FT)', 
    3528: 'Health Informatics Technology (FT)', 
    3609: 'Game - Programming', 
    3668: 'Health Informatics Technology', 
    3679: 'Game - Programming (FT)'}

In [63]:
# - 2 mark
# display the dictionary
print(d)

{3462: 'Artificial Intelligence', 3468: 'Software Engineering Technician', 3469: 'Software Engineering Technology', 3472: 'Artificial Intelligence (FT)', 3478: 'Software Engineering Technician (FT)', 3528: 'Health Informatics Technology (FT)', 3609: 'Game - Programming', 3668: 'Health Informatics Technology', 3679: 'Game - Programming (FT)'}

In [64]:
# - 4 mark
# use the keys() and values() method to display the keys and values
print(d.keys())
print(d.values())

dict_keys([3462, 3468, 3469, 3472, 3478, 3528, 3609, 3668, 3679])
dict_values(['Artificial Intelligence', 'Software Engineering Technician', 'Software Engineering Technology', 'Artificial Intelligence (FT)', 'Software Engineering Technician (FT)', 'Health Informatics Technology (FT)', 'Game - Programming', 'Health Informatics Technology', 'Game - Programming (FT)'])

In [65]:
# - 4 mark
# Use the key-index technique to retrieve the name of program 3462
print(d[3462])
# Use the get() method to retrieve the name of program 3462
print(d.get(3462))
# It there a difference?
# No

Artificial Intelligence
Artificial Intelligence

<h3> Using the enumerate function </h3>

This function can enumerate both sequences like sets, tuples, strings and lists as well as mappings like dictionaries  
The enumerate function returns a collection of tuples.  
Each tuples is a pair comprising of the index and the value.

In [66]:
# - 5 mark
# use the enumerate function to print each collection: set, tuple, list and dict
# You must print both the position and the item in the collection
def print_enumerate(collection):
  print(type(collection))
  for i, val in enumerate(collection):
    print("\t", i, val)

print_enumerate(oscar_set)
print_enumerate(oscar_tuple)
print_enumerate(word_list)

<class 'set'>
	 0 J
	 1 y
	 2 x
	 3 n
	 4 D
	 5 e
	 6 h
	 7 z
	 8 o
<class 'tuple'>
	 0 j
	 1 u
	 2 s
	 3 t
	 4 i
	 5 n
	 6
	 7 p
	 8 i
	 9 e
	 10 r
	 11 r
	 12 e
	 13
	 14 j
	 15 a
	 16 m
	 17 e
	 18 s
	 19
	 20 t
	 21 r
	 22 u
	 23 d
	 24 e
	 25 a
	 26 u
<class 'list'>
	 0 yourself
	 1 you
	 2 ve
	 3 today
	 4 how
	 5 gotta
	 6 ask
	 7 are
	 8 a
	 9 You
	 10 Eastwood
	 11 Clint

In [67]:
# - 5 mark
# Use the items() method of the dict class to enumerate a dictionary
# You must print the position, the key and the value
print_enumerate(d.items())

<class 'dict_items'>
	 0 (3462, 'Artificial Intelligence')
	 1 (3468, 'Software Engineering Technician')
	 2 (3469, 'Software Engineering Technology')
	 3 (3472, 'Artificial Intelligence (FT)')
	 4 (3478, 'Software Engineering Technician (FT)')
	 5 (3528, 'Health Informatics Technology (FT)')
	 6 (3609, 'Game - Programming')
	 7 (3668, 'Health Informatics Technology')
	 8 (3679, 'Game - Programming (FT)')